*{margin: 0; padding: 0;}
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.6/dist/web/static/pretendard.css");

body {
    background-color: #1A1C1B;
}
.logo {
    border: 0px solid red;
    width: 40px;
    height: 40px;
    right: 35px;
    top:45px;
    position: fixed;
    display: flex;
    justify-content: center;
    z-index: 1;
}

/*menubar start*/
#menuToggle
{
  display: inline-block;
  position: fixed;
  top: 50px;
  left: 40px;  
  z-index: 1;
  -webkit-user-select: none;
  user-select: none;
}

#menuToggle a
{
  text-decoration: none;
  transition: color 0.3s ease;
}

#menuToggle a:hover
{
  color: tomato;
}


#menuToggle input
{
  display: block;
  width: 40px;
  height: 30px;
  position: absolute;
  top: -7px;
  left: -5px;
  cursor: pointer; 
  opacity: 0; /* hide this */
  z-index: 2; /* and place it over the hamburger */
  -webkit-touch-callout: none;
}

#menuToggle span
{
  display: block;
  width: 25px;
  height: 3px;
  margin-bottom: 5px;
  position: relative;
  background: #FBF338;
  border-radius: 3px;
  z-index: 1;
  transform-origin: 0px 0px;
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}

#menuToggle span:first-child
{
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2)
{
  transform-origin: 0% 100%;
}


#menuToggle input:checked ~ span
{
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: #fff;
}

#menuToggle input:checked ~ span:nth-last-child(3)
{
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}


#menuToggle input:checked ~ span:nth-last-child(2)
{
  transform: rotate(-45deg) translate(0, -1px);
}

#menu
{
  position: absolute;
  width: 1920px;
  height: 811px;
  margin: -80px 0 0 -50px;
  padding: 120px;
  padding-top: 150px;
  background: #FBF338;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  transform-origin: 0% 0%;
  transform: translate(-100%, 0);
  transition: transform 0.5s cubic-bezier(0.2, 0.2, 0.2 ,1.0);
}


#menu li
{
  width: 100px;
  padding: 30px;
  font-size: 35px;
  margin-left: 5px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 800;
  color: #191F1C;
}


#menuToggle input:checked ~ ul
{
  transform: none;
}

/*ν‘Έν„°*/
footer {
    width: 100%;
    background-color: #FBF338;
    margin-top: 100px;
}
.footer_wrap {
    border: 0px solid red;
    width: 100%;
    height: 175px;
    margin: 0 auto;
}
.con {
    padding-top: 20px;
    width: 8px;
    height: 8px;
    margin-left: 20px;
}

.cont {
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    color: #191F1C;
    font-size: 10px;
    text-align: left;
    padding-bottom: 10px;
    padding-top: 10px;
    margin-left: 20px;
}
.fot_t {
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    color: #191F1C;
    font-size: 18px;
    text-align: left;
    padding-bottom: 10px;
    margin-left: 20px;

}

.fot_t2 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    color: #191F1C;
    font-size: 10px;
    text-align: left;
    padding-top: 10px;
    margin-left: 20px;
    
}

/*λ©”μΈ*/
.main {
    margin: 0 auto;
    top: 150px;
    background-image: url('img/main.png');
    width: 100%;
    height: 151px;
    display: flex;
    justify-content: center;
    background-position: center;
    background-size: cover;
    position: relative;
    margin-bottom: 150px;
}

.edit {
    margin: 0 auto;
    top: 150px;
    background-image: url('img/edit.png');
    width: 100%;
    height: 151px;
    display: flex;
    justify-content: center;
    background-position: center;
    background-size: cover;
    position: relative;
    margin-bottom: 150px;
}
.ui {
    margin: 0 auto;
    top: 150px;
    background-image: url('img/ui.png');
    width: 100%;
    height: 151px;
    display: flex;
    justify-content: center;
    background-position: center;
    background-size: cover;
    position: relative;
    margin-bottom: 150px;
}
.pack {
    margin: 0 auto;
    top: 150px;
    background-image: url('img/pack.png');
    width: 100%;
    height: 151px;
    display: flex;
    justify-content: center;
    background-position: center;
    background-size: cover;
    position: relative;
    margin-bottom: 150px;
}
.web {
    margin: 0 auto;
    top: 150px;
    background-image: url('img/web.png');
    width: 100%;
    height: 151px;
    display: flex;
    justify-content: center;
    background-position: center;
    background-size: cover;
    position: relative;
    margin-bottom: 150px;
}

.main_t {
    width: 100%;
    height: 80px;
    position: relative;
    border: 0px solid red;
    font-weight: 900;
    font-family: 'Montserrat';
    font-style: normal;
    color: #FBF338;
    font-size: 60px;
    text-align: center;
    top: -30px;
}

.intro {
    width: 100%;
    height: 200px;
    padding-top: 80px;
    margin: 0 auto;
    border: 0px solid red;

}
.in_t {

    position: relative;
    border: 0px solid red;
    font-family: 'Pretendard';
    font-weight: 800;
    color: #fff;
    font-size: 40px;
    text-align: left;
    padding-bottom: 20px;
    float: left;
    margin-left: 20px;
}
.in_t2 {
    position: relative;
    border:0px solid red;
    font-family: 'Pretendard';
    font-weight: 800;
    color: #FBF338;
    font-size: 40px;
    text-align: left;
    padding-bottom: 20px;
    float: left;
    margin-left: 20px;
}

.profile_wrap {
    border: 0px solid red;
    width: 100%;
    height: 500px;
    margin: 0 auto;
    position: relative;
    right: 20px;
  
}

.pro1{
  position: relative;
  top: 50px;
  height: 400px;
    float: right;
}

.tit {
    border: 0px solid blue;
    width: 335px;
    height: 41px;
    margin: 0 auto;
    position: relative;
    margin-bottom: 10px;
    margin-top: 250px;
  }

  .tit2 {
    border: 0px solid blue;
    width: 335px;
    height: 41px;
    margin: 0 auto;
    position: relative;
    margin-bottom: 10px;
    margin-top: 100px;
  }
  
  .tit3 {
    border: 0px solid blue;
    width: 335px;
    height: 41px;
    margin: 0 auto;
    position: relative;
    margin-bottom: 10px;
    margin-top: 50px;
  }

  .st {
    width: 14px;
    height: 14px;
    margin-bottom: 10px;
  }
  
  .st2 {
    position: relative;
    width: 14px;
    height: 14px;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  
  .tit_n {
        width: 100px;
     border: 0px solid blue;
      font-family: 'Montserrat', sans-serif;
      font-weight: 800;
      color: #FBF338;
      font-size: 17px;
      text-align: left;
      bottom: 0;
  }
  .tit_n2 {
    width: 200px;
     border: 0px solid blue;
      font-family: 'Montserrat', sans-serif;
      font-weight: 800;
      color: #FBF338;
      font-size: 17px;
      text-align: left;
      bottom: 0;
  }

  .tit_n3 {
        width: 300px;
        border: 0px solid blue;
      font-family: 'Montserrat', sans-serif;
      font-weight: 800;
      color: #FBF338;
      font-size: 17px;
      text-align: left;
      bottom: 0;
  }
  
  .pro_n{
      float: right;
      border: 0px solid blue;
      font-family: 'Montserrat', sans-serif;
      font-weight: 300;
      color: #FBF338;
      font-size: 10px;
      text-align: right;
      margin-bottom: 20px;
  }

  .pro {
    width: 335px;
    height: 60px;
    margin: 0 auto;
  }

.pro2 {
    position: relative;
    padding-top: 30px;
    width: 335px;
    height: 100px;
    margin: 0 auto;
    border: 0px solid red;
  }
  
  
  .story {
      position: relative;
      border: 0px solid red;
      font-family: 'Pretendard';
      font-weight: 300;
      color: #fff;
      font-size: 10px;
      text-align: left;
      padding-bottom: 10px;
      float: left;
      line-height: 20px;
      letter-spacing: -0.05s;
  }

  .photo {
    position: relative;
    width: 336px;
    height: 273px;
    margin: 0 auto;
    top: 20px;
  }

  .photo2 {
    width: 336px;
    height: 227px;
    margin: 0 auto;
    text-align: center;
    position: relative;
    top: 80px;
  }

  .photo3 {
    width: 336px;
    height: 227px;
    margin: 0 auto;
    text-align: center;
    position: relative;
    top: 100px;
   margin-bottom: 100px;
  }

  .packphoto {
    position: relative;
    width: 336px;
    height: 273px;
    margin: 0 auto;
    top: 120px;
    margin-bottom: 180px;
  }

  .packphoto2 {
    width: 336px;
    height: 227px;
    margin: 0 auto;
    text-align: center;
    position: relative;
    top: 20px;
  }

  .uiphoto {
    position: relative;
    width: 234px;
    height: 156px;
    margin: 0 auto;
    float: left;
    margin-left: 30px;
    top: 20px;
  }



  .uiphoto2 {
    position: relative;
    width: 234px;
    height: 156px;
    margin: 0 auto;
    float: right;
    margin-right: 30px;
    top: 50px;
    margin-bottom:100px;
  }

  .uiphoto3 {
    border: 0px solid red;
    position: relative;
    width: 336px;
    height: 350px;
    margin: 0 auto;
    top: 20px;
    text-align: center;
  }

  .uiphoto3 > .p1{
    position: relative;
    float: left;
  }

  .uiphoto3 > .p2{
    top: 30px;
    position: relative;
    float: right;
  }


  .line {
    border: 0px solid red;
    margin-top: 400px;
  }
  
  hr {
    position: relative;
    margin: 0 auto;
  }
  
  .webphoto {
    width: 336px;
    height: 579px;
    margin: 0 auto;
    position: relative;
    margin-top: -10px;
  }